<section class="yourTitle py-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-5">
                <div class=" d-flex align-item-center">
                    <div class="descriptive">
                        <h2 class="sectionHeader mb-4">
                            Your title can be long and descriptive
                        </h2>
                        <p class="sectionPara mb-4">
                            Cursuspenatisaccum ut curabitur nulla tellus tor ames a in curabitur pede. Idet mollisi eros
                            dis orci congue elis et curabitur.
                        </p>
                        <button class="btn primary-btn btn-lg" type="button">Read more</button>

                    </div>
                </div>
            </div>
            <div class="col-sm-7">
                <app-carousel></app-carousel>
            </div>
        </div>
    </div>
</section>