<section class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <app-about-us></app-about-us>
            </div>
            <div class="col-md-3">
                <app-quick-links></app-quick-links>
            </div>
            <div class="col-md-3">
                <app-latest-blog-post></app-latest-blog-post>
            </div>
            <div class="col-md-3">
                <app-contact-us></app-contact-us>
            </div>
        </div>
    </div>
</section>

