@import '../../../assets/sass/abstract/variables';
@import '../../../assets/sass/base/typography';
@import '../../../assets/sass/components/footer';



.footer{
    background-color: $primary-dark ;
    border-top: 5px solid;
    padding: 2.5rem 0;
}