<section class="vive-tab">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <img src="../../../assets/images/wigets.png" class="img-fluid mx-auto d-block" alt="">
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6" *ngFor="let viva of vivas">
                        <app-viva-thumbnail [viva]="viva"></app-viva-thumbnail>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="contactUs">
                    <div class="row">
                        <div class="col-md-7">
                           <div class="pl-4">
                            <h2 class="sectionHeader">
                                Lorem ipsum dolor sit amet elit !
                            </h2>
                            <p>
                                Why not try our services today, you won’t regret your choice !
                            </p>
                           </div>
                        </div>
                        <div class="col-md-5">
                          <div class="d-flex w-100">
                            <button class="btn primary-btn bg-btn">
                                contact us today
                            </button>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>