<div class="aboutUs">
    <h3 class="footerHeading">
        about us
    </h3>
    <div class="img-item">
        <img src="../../../assets/images/contact-footer.jpg" alt="">
    </div>
    <p class="footerPara">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla massa ut nisi
        ullamcorper pellentesque. Quisque non luctus sem. Nullam non magna vel nisi posuere bibendum vitae sed dui.
    </p>
    <p class="m-0 text-right">
        <a href="javascript:;" class="readMore">
            Read more <i class="fas fa-angle-double-right"></i>
        </a>
    </p>
</div>