<div class="aboutUs">
    <h3 class="footerHeading">
        quick links
    </h3>
    <ul class="footerLinks">
        <li>
            <a href="javascript:;">
               <i class="fas fa-angle-double-right"></i> Lorem ipsum dolor sit
            </a>
        </li>
        <li>
            <a href="javascript:;">
               <i class="fas fa-angle-double-right"></i> Lorem ipsum dolor sit
            </a>
        </li>
        <li>
            <a href="javascript:;">
               <i class="fas fa-angle-double-right"></i> Lorem ipsum dolor sit
            </a>
        </li>
        <li>
            <a href="javascript:;">
               <i class="fas fa-angle-double-right"></i> Lorem ipsum dolor sit
            </a>
        </li>
        <li>
            <a href="javascript:;">
               <i class="fas fa-angle-double-right"></i> Lorem ipsum dolor sit
            </a>
        </li>
        <li>
            <a href="javascript:;">
               <i class="fas fa-angle-double-right"></i> Lorem ipsum dolor sit
            </a>
        </li>
        <li>
            <a href="javascript:;">
               <i class="fas fa-angle-double-right"></i> Lorem ipsum dolor sit
            </a>
        </li>
        <li>
            <a href="javascript:;">
               <i class="fas fa-angle-double-right"></i> Lorem ipsum dolor sit
            </a>
        </li>
        <li>
            <a href="javascript:;">
               <i class="fas fa-angle-double-right"></i> Lorem ipsum dolor sit
            </a>
        </li>
        <li>
            <a href="javascript:;">
               <i class="fas fa-angle-double-right"></i> Lorem ipsum dolor sit
            </a>
        </li>
    </ul>
</div>