@import "../../../assets/sass/abstract/variables";
@import "../../../assets/sass/base/typography";
.copyright{
    border-top: 2px solid #2d2d2d;
    background-color: #222;
    padding: 25px 0;
}

.copyPara{
    font-size: .75rem;
    color:$secondary-color;
    margin: 0;
}